<h1>Scores#index</h1>
<p>Find me in app/views/scores/index.html.erb</p>

<% @scores.each do |score| %>
<hr>
<p>Game <%= score['id'] %>:</p>
<p><%= score['home_team'] %>: <%= score['home_team_score'] %></p>
<p><%= score['away_team'] %>: <%= score['away_team_score'] %></p>
<p>Winner: <%= score['winner'] %></p>
<% end %>
